[Desktop Entry]
Name=Peta
Comment=Client viewer for BlankOn Peta
Exec=maleo /usr/lib/geoblankon-peta
Icon=geoblankon-peta
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
